{%load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/navBar.css'%}">
<script type="text/javascript" src="{% static 'js/navBar.js'%}"></script>
<style>
	.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

</style>
{% endblock %}
{% block main %}

    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">

			<a href="{%url 'home'%}" class="navbar-brand"><img src="{%static 'img/logo.svg'%}" height="28" alt="Atlantic International"></a>

			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>

			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto ">

					<li><a href="{%url 'home'%}" class="nav-item nav-link ">Home</a></li>
                    <li><a href="{%url 'about'%}" class="nav-item nav-link">About Us</a></li>
					<li><a href="{% url 'gallery_view'%}" class="nav-item nav-link">Gallery</a></li>

					<li class="nav-item dropdown">
                	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Services </a>
                	<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{%if categories%}
								{%for cat in categories%}
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">{{cat.title}}</a>
                        <ul class="dropdown-menu">
							{% for sub in cat.subcategory.all%}
                            <li><a class="dropdown-item" href=/category/{{cat.id}}/subcat/{{sub.id}}>{{sub.title}}</a></li>
							{% endfor %}
<!--                            <li><a class="dropdown-item" href="#">Submenu0</a></li>-->
<!--                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 1</a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Subsubmenu1</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>-->
<!--                                <ul class="dropdown-menu">-->
<!--                                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>-->
<!--                                    <li><a class="dropdown-item" href="#">Subsubmenu2</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
                        </ul>
                    </li>
							{% endfor %}
						{%endif%}
                </ul>
            </li>


                    <li><a href="{%url 'contact'%}" class="nav-item nav-link">Contact Us</a></li>


				</ul>
			</div>
		</div>
	</nav>

{% endblock %}